<h1>
    Movie details for : {{ movie_data.Title }}
</h1>

<ul>
    <li>Title : {{ movie_data.Title }}</li>
    <li>Year : {{ movie_data.Year }}</li>
    <li>Rated : {{ movie_data.Rated }}</li>
    <li>Genre : {{ movie_data.Genre }}</li>
    <li>Director : {{ movie_data.Director }}</li>
    <li>Actors : {{ movie_data.Actors }}</li>
    <li>Plot : {{ movie_data.Plot }}</li>
</ul>

<a href="{% url 'movie_details:add-movie-to-planned' movie_data.imdbID %}">Add to planned</a>
<a href="{% url 'movie_details:add-movie-to-watching' movie_data.imdbID %}">Add to watching</a>
<a href="{% url 'movie_details:add-movie-to-completed' movie_data.imdbID %}">Add to completed</a>
